{% load static %}
<!DOCTYPE html>
<html>
<head>

    <title>{% block title %}SdShop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="page-center">
    <div class="login-box">
<h2>Forgot Password</h2>

<form method="post">
    {% csrf_token %}
     <div class="input-box">
         <label>Email</label>
         {{ form.email }}
            </div>
    <button type="submit">Send Reset Link</button>
</form>
 </div>
</div>

<link   rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
        crossorigin="anonymous">
</script>
</body>
</html>
