{% load static %}
<!DOCTYPE html>
<html>
<head>

    <title>{% block title %}SdShop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<style>
    button a {
        color:white;
        text-decoration:none;
            }
    button a :hover {
            color:white;
            text-decoration:none;
    }
</style>
<body>
    <div class="page-center">
    <div class="login-box">
<h2>Password Reset Successful</h2>

<form>
    <button type="submit" ><a href="{% url "login" %}">Log in</a></button>

</form>
 </div>
</div>

<link   rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
        crossorigin="anonymous">
</script>
</body>
</html>
