{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="description" content="Free Web tutorials">
<meta name="keywords" content="HTML, CSS, JavaScript">
<meta name="author" content="John Doe">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> {% block title %}{% endblock title %} | SdShop</title>

<!-- Bootstrap CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap JS (REQUIRED for dismiss) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
        <div class="container">
            <a class="navbar-brand text-primary" href="#">SDShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav gap-3">
                    <li class="nav-item"><a class="nav-link" href=" {% url "home" %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url "shop" %}">Shop</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url "deals" %}">Deals</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url "contact" %}">Contact</a></li>
                    {% if user.is_authenticated %}
                    {% comment %} 
                    <li class="nav-item"><a class="btn btn-primary text-white" href="{% url "logout" %}">Logout</a></li> {% endcomment %}

                    <!--  profile icon - -->
                    
                    <li class="nav-item d-none d-md-block">
                    <a class="nav-link profile-icon"  href="{% url 'profile' %}" >
                    <img src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png" width="28px"  alt="">                    </a>
                </li>
                <!-- Mobile view → Contact Text -->
                <li class="nav-item d-block d-md-none">
                    <a class="nav-link" href="{% url 'profile' %}">
                    Profile
                    </a>
                </li>

                    {% else %}
                    
                    <li class="nav-item"><a class="btn btn-primary text-white" href="{% url "login" %}">Sign In</a></li>
                    {% endif %}


                   

                </ul>
            </div>
        </div>
    </nav>


    <!--message Alerts -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
    <strong> {{ message }}</strong>
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}


{% block body %}{% endblock body %}

</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
</script>
