{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block body %}

</body>     
<div class="page-center">
    <div class="login-box">
        <h2>User Profile</h2>

        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>First Name:</strong> {{ user.first_name|default:"-" }}</p>
        <p><strong>Last Name:</strong> {{ user.last_name|default:"-" }}</p>
        <p><strong>Joined On:</strong> {{ user.date_joined }}</p>

        <hr>

        <!-- 🔴 Logout Button at END -->
        <a href="{% url 'logout' %}" class="btn-logout">
            Logout
        </a>
    </div>
</div>




{% endblock body %}    





