{% extends "login.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<!-- this is new code of the page -->

 <div class="b-example-divider"></div>
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Your <strong>SDshop </strong> Account</h1>
        <p class="col-lg-10 fs-4">Securely Sign in to access exclusive deals and personalized recommendations.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
<!--- this is Form Method For Django and Genrate Token-->
        <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="username" required>
            <label for="floatingInput"> username</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" name="email" required>
            <label for="floatingInput"> e-mail address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword"  name="password" required>
            <label for="floatingPassword">Password</label>
          </div>
            
          <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
          <hr class="my-4">
          <small class="text-muted">By clicking sign up, you agree to the terms of use.</small>
          <div class="row">
  <div class="col-md-3 m-2">
    <a class="btn btn-outline-dark" href="/accounts/google/login/" role="button" style="text-transform:none">
      <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://media.istockphoto.com/id/2228661068/photo/isolated-google-logo-symbolizing-internet-search-and-technology.webp?a=1&b=1&s=612x612&w=0&k=20&c=711C2QCJ2SLkaDr9rZJm3l1TJlqErNAnS3fe0rgcRIg=  " />
      sign up with Google
    </a>
  </div>
  <p style="text-align:center;margin-top:15px;">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>
</div>
        </form>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

<!-- Minified CSS and JS -->
<link   rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
        crossorigin="anonymous">
</script>


       
{% endblock %}
